
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;}

body{
    margin: 15px 135px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h3{
 color: #131318;
font-size: 36px;
font-weight: 800;

}
nav > ul{
  display: flex;
 
}
    nav li{
        list-style: none;
        margin-left: 20px;
        color: var(--Dark-02, #424247);
        font-size: 16px;
        font-weight: 400;
       
    }
    nav li a{
        text-decoration: none;
    }
    .btn{
        margin-left: 30px;
    }
    .home{
        color: #FF4240;
        font-size: 16px;
        font-weight: 700;

    }
 .btn{
    display: inline-flex;
padding: 10px 18px;
justify-content: center;
align-items: center;
gap: 10px;
color: #FFF;
text-align: center;
font-size: 20px;
border-radius: 8px;
background: #FF4240;
border: none;
 }
 .banner{
    max-width: 1000px;
    position: relative;
    margin: auto;
  
 }
 

.pic-slies, .fade{ 
    
    animation-name: fade;
    animation-duration: 1.5s;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
.number{
    color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
